@font-face {
    font-family: 'norseregular';
    src: url('fonts/norse-webfont.woff2') format('woff2'),
    url('fonts/norse-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    font-family: sans-serif;
}

.img-logo {
    height: 100vh;
    min-width: 550px;
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    position: relative;
}

img {
    width: 6rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'norseregular';
    font-size: 3rem;
    padding: 15px;
}

.translucent {
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 35%;
}

.author {
    position: absolute;
    bottom: 0;
    left: 50%;
}

.photo-author {
    position: relative;
    left: -50%;
    padding: 10px;
    font-size: 0.8rem;
}

a {
    color: white;
}

.sign-up {
    background-color: #F9FAFB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.text {
    line-height: 1.3;
    width: 55ch;
    padding-bottom: 50px;
}

.form-text, .text {
    font-size: 1.4rem;
    font-weight: 550;
    padding-left: 50px;
}

.form-text {
    padding-top: 20px;
}

form {
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.italics {
    font-style: italic;
}

input {
    width: 250px;
    height: 30px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #E5E7EB;
    font-size: 1rem;
    padding: 7px;
}

#password:invalid, #confirm-password:invalid {
    border-color: rgb(240, 1, 1);
}

input:focus {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

label {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 550;
}

.first-name, 
.email, 
.password,
.last-name,
.phone,
.confirm-password {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    gap: 2px;
}

.first-name, .last-name {
    padding-top: 0;
}

.form {
    display: flex;
    gap: 50px;
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 40px;
}

button {
    background-color: #596D48;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    font-weight: 550;
    width: 200px;
    padding: 12px 0;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.button {
    padding-left: 50px;
    padding-top: 30px;
}

.existing-acc {
    padding-left: 50px;
    padding-top: 30px;
}

.log-in {
    color: #596D48;
    font-weight: 600;
}