@font-face {
    font-family: 'norseregular';
    src: url('fonts/norse-webfont.woff2') format('woff2'),
    url('fonts/norse-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    font-family: sans-serif;
}

.img-logo {
    height: 100vh;
    min-width: 550px;
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    position: relative;
}

img {
    width: 6rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'norseregular';
    font-size: 3rem;
    padding: 15px;
}

.translucent {
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 35%;
}

.author {
    position: absolute;
    bottom: 0;
    left: 50%;
}

.photo-author {
    position: relative;
    left: -50%;
    padding: 10px;
    font-size: 0.8rem;
}

a {
    color: white;
}

.sign-up {
    background-color: #F9FAFB;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    flex-grow: 1;
}

.text {
    font-size: 1.4rem;
    font-weight: 550;
    line-height: 1.3;
    width: 55ch;
    padding-left: 50px;
    padding-bottom: 50px;
}

form {
    background-color: white;
}

.italics {
    font-style: italic;
}